@import "../../../assets/ded-styles.scss";
@import "../login/login.component.scss";

.register--form {
     display:flex;
     flex-direction:column;
     align-items:center;

     width:20rem;
     max-width:100%;
     margin: 0 auto;
}