@import "../../../assets/ded-styles.scss";

 .einfo--container {
     display: flex;
     flex-direction:column;
     align-items:center;
     justify-content: space-between;
     
     padding:0.5em 0; 
     width: 100%;
     line-height:1;

     .igx-divider--vertical {
          align-self:stretch;
     }

     .einfo {
          display:block;
          line-height:1;
          margin:0 0 0.5em;
          text-align:center;
     }
     .einfo__name {
          font-weight: 600;
     }
     .einfo__description {
          color: $ded-gray;
     }

     @media (min-width:768px) {
          & {
               flex-direction:row;
          }
          .einfo {
               padding:0 1em;
               line-height:1;
               margin:0;
               text-align:left;
          }
          .einfo__name {
               flex: 1 1 20%;
          }
          .einfo__type {
               width:6em;
               flex:none;
               text-align:center;
          }
          .einfo__description {
               flex:2 1 20%;
          }
          .einfo__completed {
               width:8em;
               flex:none;
               text-align:right;
          }
     }
}

.set-info-container {
     display: flex;
     justify-content: space-between;

     > .set-index{
          font-weight: bold;
          margin: 5px;
     }
     > .set-type {
          font-size: small;
          margin: 5px;
     }
     > .set-goal-value-and-units {
          margin: 5px;
     }
     > .set-goal-reps {
          margin: 5px;
     }
}