<ded-pagetitle navLink="/track" pageTitle="{{ this.workout.name }}"></ded-pagetitle>

<igx-card class="ded-card">
  <div *ngIf="workout.description">
    <strong>Description: </strong>
    {{ this.workout.description }}
  </div>
  <div *ngIf="workout.notes">
    <strong>Notes: </strong>
    {{ this.workout.notes }}
  </div>
  <div *ngIf="workout.completed_time">
    <strong>Completed: </strong> 
    {{ workout.completed_time.toLocaleString() }}
  </div>

  <hr />

  <igx-card class="exercise-card" *ngFor="let exercise of this.workout.exercises; let i = index">
    <igx-expansion-panel class="exercise-panel" [collapsed]="true">

      <!-- Excercise header -->
      <igx-expansion-panel-header class="exercise-panel-header">
        <div class="einfo--container">
          <h5 class="einfo einfo__name">{{ exercise.name }}</h5>
          <igx-divider [vertical]="true"></igx-divider>
          <div class="einfo einfo__type">{{ exercise.exercise_type }}</div>
          <igx-divider [vertical]="true"></igx-divider>
          <div class="einfo einfo__description">{{ exercise.description }}</div>
          <igx-divider [vertical]="true"></igx-divider>
          <div class="einfo einfo__completed" *ngIf="exercise.complete_time">
            {{ exercise.complete_time.toLocaleTimeString() }}
          </div>
        </div>
      </igx-expansion-panel-header>
  
      <igx-expansion-panel-body class="exercise-panel-body">
        <!-- Exercise Notes -->
        <div class="exercise-notes" *ngIf="exercise.notes">
          <strong>Notes: </strong>
          {{ exercise.notes }}
        </div>

        <div class="table-responsive" *ngIf="exercise.sets.length">
          <table class="table">
            <thead>
              <tr>
                <th width="1.5em">#</th>
                <th>Type</th>
                <th>Description</th>
                <th>Goal</th>
                <th>Completed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let set of exercise.sets; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ set.style }}</td>
                <td>{{ set.description }}</td>
                <td>{{ set.goal_reps + ' x ' + set.goal_value + ' ' + set.unit }}</td>
                <td>{{ set.completed_reps + ' x ' + set.completed_value + ' ' + set.unit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </igx-card>
</igx-card>
