@import "../../../assets/ded-styles.scss";

 .exercise-info {
     display: flex;
     flex-direction:column;
     align-items:center;
     justify-content: space-between;
     width: 100%;
     line-height:1;

     .igx-divider--vertical {
          align-self:stretch;
     }

     .exercise-name {
          font-weight: 600;
          margin: 0;
     }
     .exercise-type {
          margin: 0;
          text-align:center;
     }
     .exercise-description {
          margin: 0;
          color: $ded-gray;
     }

     @media (min-width:768px) {
          & {
               flex-direction:row;
          }
     }
}