@import "../../../assets/ded-styles.scss";

.sets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  > igx-card {
    margin: 10px;
    padding: 5px;
    align-content: center;
    width: 50%;
    > .set-info-container {
      display: flex;
      justify-content: space-between;

      > .set-index{
        font-weight: bold;
        margin: 5px;
      }

      > .set-type {
        font-size: small;
        margin: 5px;
      }

      > .set-goal-value-and-units {
        margin: 5px;
      }

      > .set-goal-reps {
        margin: 5px;
      }
    }
  }
}

.create-set-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  > app-dropdown {
    width: 10%;
    margin: 5px;
  }
  > igx-input-group {
    width: 5%;
    margin: 5px;
  }
  > .add-set-button-wrapper {
    @include igx-button($ded-standard-button-theme);
    margin: 5px;
  }
}
