<igx-card #setCard *ngFor="let set of sets; let i = index">
  <div class="set-info-container">
    <div class="set-index">
      {{i+1}}.
    </div>
    <div class="set-type">
      {{set.type}}
    </div>
    <div class="set-goal-value">
      {{set.goal_value}}
    </div>
    <div class="set-units">
      {{set.units}}
    </div>
    <div class="set-goal-reps">
      x{{set.goal_reps}} reps
    </div>
  </div>
</igx-card>

<form class="create-set-form">
  <app-dropdown [itemLabel]="'type'" [items]="setTypes" (selectedItemEmitter)="receiveSelectedType($event)"></app-dropdown>

  <igx-input-group>
    <label igxLabel for="goal_value">value</label>
    <input igxInput name="goal_value" type="number" [(ngModel)]="set.goal_value" />
  </igx-input-group>

  <app-dropdown [itemLabel]="'units'" [items]="setUnits" (selectedItemEmitter)="receiveSelectedUnits($event)"></app-dropdown>

  <igx-input-group>
    <label igxLabel for="goal_reps">reps</label>
    <input igxInput name="goal_reps" type="number" [(ngModel)]="set.goal_reps" />
  </igx-input-group>
  <div class="add-set-button-wrapper">
    <button #addSetButton igxButton="raised" igxRipple="black" [disabled]="!(set.type && set.goal_value && set.units && set.goal_reps)" (click)="addSet()">add set to exercise</button>
  </div>
</form>
