@import "../../../assets/ded-styles.scss";

.create-set-form {
  display: flex;
  align-items: flex-end;
  width: 100%;

  > app-dropdown {
    flex:1;
    margin:5px;
  }
  > igx-input-group {
    width: 5%;
    margin: 5px;
  }
  > .add-set-button-wrapper {
    @include igx-button($ded-standard-button-theme);
    margin: 5px;
  }
}

.set-info-container {
  display: flex;
  justify-content: space-between;

  > .set-index{
    font-weight: bold;
    margin: 5px;
  }
  > .set-type {
    font-size: small;
    margin: 5px;
  }
  > .set-goal-value-and-units {
    margin: 5px;
  }
  > .set-goal-reps {
    margin: 5px;
  }
}

