.ded-home-title-block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  .ded-logo {
    height: 25vh;
  }
  h1
  {
    font-size:6em;
    padding: 0.1em;
    margin:0;
    font-weight: bold;
    text-transform: uppercase;
    line-height:1;
    user-select:none;
  }
  h2
  {
    padding:0;
    font-size:3em;
    margin: 0.25em 0;
    text-align:center;
    line-height:1.4;
    font-weight: bold;
    text-transform: uppercase;
  }
}
