<main class="ded-home-main-block">
  <h1>DED</h1>
  <div class="ded-logo">
    <img class="ded-head" src='../../../assets/DED_noeyes.png'>
    <div class="ded-eye eye__left"><span class="rotate-me"><span class="rotate--offset">D</span></span></div>
    <div class="ded-eye eye__right"><span class="rotate-me"><span class="rotate--offset">D</span></span></div>
  </div>

  <div class="ded-dashboard-items">
    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/create'" igxButton="fab" igxRipple="white" (mouseenter)="createIconDescription.hidden=false" (mouseleave)="createIconDescription.hidden=true">
        <igx-icon fontSet="material">add</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Create
      </div>
      <div #createIconDescription class="dashboard-item-description" [hidden]="true">
        Create a new workout or exercise
      </div>
    </div>

    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/start'" igxButton="fab" igxRipple="white" (mouseenter)="startIconDescription.hidden=false" (mouseleave)="startIconDescription.hidden=true">
        <igx-icon fontSet="material">play_arrow</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Start
      </div>
      <div #startIconDescription class="dashboard-item-description" [hidden]="true">
        Start an existing or new workout
      </div>
    </div>

    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/track'" igxButton="fab" igxRipple="white" (mouseenter)="trackIconDescription.hidden=false" (mouseleave)="trackIconDescription.hidden=true">
        <igx-icon fontSet="material">trending_up</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Track
      </div>
      <div #trackIconDescription class="dashboard-item-description" [hidden]="true">
        Track your completed workouts
      </div>
    </div>
  </div>
</main>

