<main class="ded-home-main-block">
  <h1>DED</h1>
  <ded-logo size="25vmin"></ded-logo> 

  <div class="ded-dashboard-items">
    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/create'" igxButton="fab" igxRipple="white" (mouseenter)="createIconDescription.hidden=!createIconDescription.hidden" (mouseleave)="createIconDescription.hidden=!createIconDescription.hidden">
        <igx-icon fontSet="material">add</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Create
      </div>
      <div #createIconDescription class="dashboard-item-description" [hidden]="true">
        Create a new workout or exercise
      </div>
    </div>

    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/start'" igxButton="fab" igxRipple="white" (mouseenter)="startIconDescription.hidden=!startIconDescription.hidden" (mouseleave)="startIconDescription.hidden=!startIconDescription.hidden">
        <igx-icon fontSet="material">play_arrow</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Start
      </div>
      <div #startIconDescription class="dashboard-item-description" [hidden]="true">
        Start an existing or new workout
      </div>
    </div>

    <div class="ded-dashboard-item-container">
      <button class="dashboard-button" [routerLink]="'/track'" igxButton="fab" igxRipple="white" (mouseenter)="trackIconDescription.hidden=!trackIconDescription.hidden" (mouseleave)="trackIconDescription.hidden=!trackIconDescription.hidden">
        <igx-icon fontSet="material">trending_up</igx-icon>
      </button>
      <div class="dashboard-item-title">
        Track
      </div>
      <div #trackIconDescription class="dashboard-item-description" [hidden]="true">
        Track your completed workouts
      </div>
    </div>
  </div>
</main>

