@import "../../../assets/ded-styles.scss";

.workout-card {
  width:100%;
  padding:2em;
  margin:0.5em 0;
}

.create-workout-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.workout-input {
  width:100%;
  margin:0 0 0.5em;
}

.save-workout-button-wrapper {
  @include igx-button($ded-standard-button-theme);
  width: 100%;
  margin: 10px;
  position: sticky;
  top: 0;
  margin: 0;

  > button {
    width: 100%;
    font-size: large;
  }
}

.card-header {
  font-size:1.5em;
  font-weight: 600;
  text-transform: uppercase;

  border-bottom:1px solid #ddd;

  margin:0 0 0.75em;
  padding:0 0 0.75em;
}