<div class="ded-login-title-block">

  <h4 class="login--header">Login</h4>
  <form #login="ngForm" class="login--form" (ngSubmit)="onSubmit()">
    <input type="text" name="username" class="form--item" placeholder="Username" [(ngModel)]="userCredentials.username" />
    <input type="password" class="form--item" name="password" placeholder="Password" [(ngModel)]="userCredentials.password" />
    <div class="login--button">
      <button #submitButton igxButton="raised" igxRipple="white" [disabled]="!(userCredentials.username && userCredentials.password)" type="submit">Login</button>
    </div>
  </form>

  <a [routerLink]="'/register'" class="register--link">Create a New Account</a>
</div>