@import "../../../assets/ded-styles.scss";
.ded-login-title-block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  .ded-logo {
    height: 15vh;
  }
  h2
  {
    font-size:6em;
    padding: 0.1em;
    margin:0;
    font-weight: bold;
    text-transform: uppercase;
    line-height:1;
    user-select:none;
  }
  h3
  {
    padding:0;
    font-size:3em;
    margin: 0.25em 0;
    text-align:center;
    line-height:1.4;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.login--header
{
     font-size:2em;
     text-align:center;
     margin:1em 0 0.25em;
     padding:0;
}

.login--form
{
     display:flex;
     flex-direction:column;
     align-items:center;

     width:20rem;
     max-width:100%;
}
.form--item,
.form--button
{
     position:relative;
     width:100%;
     border:1px solid #ddd;
     margin:0 0 -1px;
     padding:1em 1.5em;

     font-size:1.125em;
     font-family:inherit;
     font-weight:400;
     line-height:1;

     -webkit-appearance: none;
     -moz-appearance: none;
     display:block;

     &:focus
     {
          z-index:2;
          outline:1px solid #007bff;
          outline-offset:1px;
     }
     &:first-child
     {
          border-radius:2px 2px 0 0;
     }
     &:last-child
     {
          border-radius:0 0 2px 2px;
     }
}
.form--button
{
     background:#000;
     border:1px solid #000;
     cursor: pointer;

     text-align:center;
     color:#fff;

     &:hover
     {
          color:#000;
          background:transparent;
     }
}

.ded-login-button {
  @include igx-button($ded-standard-button-theme);
  width: 100%;
  > button {
    width: 100%;
  }
}

.ded-login-dialog-body {
  margin: 10px;
  padding: 10px;
}
