@import "~igniteui-angular/lib/core/styles/themes/index";

$ded-green: #6EBE49;
$ded-dark-gray: #2a2a2a;
$ded-gray: #868589;
$ded-light-gray: #CCCCCC;
$ded-black: #000000;
$ded-white: #FFFFFF;
$ded-cyan: #00A1DD;
$ded-teal: #008F98;
$ded-yellow: #F8BE15;
$ded-orange: #FF5000;
$ded-red: #DC1F2E;
$ded-magenta: #B32271;

$ded-color-palette: igx-palette(
    $primary: $ded-black,
    $secondary: $ded-magenta,
    $surface: $ded-white,
    $info: $ded-gray,
    $success: $ded-green,
    $warn: $ded-yellow,
    $error: $ded-red
);

$ded-login-button-theme: igx-button-theme(
    $raised-text-color: $ded-white,
    $raised-background: $ded-black,
    $raised-hover-text-color: $ded-black,
    $raised-hover-background: rgba(255,255,255,0.5),
);

$ded-dashboard-button-theme: igx-button-theme(
    $fab-text-color: $ded-white,
    $fab-background: $ded-black,
    $fab-hover-text-color: $ded-black,
    $fab-hover-background: rgba(255,255,255,0.5),
);
