@import "~igniteui-angular/lib/core/styles/themes/index";

$ded-opacity: 0.5;

$ded-green: #6EBE49;
$ded-dark-gray: #2a2a2a;
$ded-gray: #868589;
$ded-light-gray: #CCCCCC;
$ded-black: #000000;
$ded-white: #FFFFFF;
$ded-cyan: #00A1DD;
$ded-teal: #008F98;
$ded-yellow: #F8BE15;
$ded-orange: #FF5000;
$ded-red: #DC1F2E;
$ded-magenta: #B32271;


$ded-white-transparent: rgba(255,255,255,$ded-opacity);
$ded-black-transparent: rgba(0,0,0,$ded-opacity);


$ded-color-palette: igx-palette(
    $primary: $ded-white,
    $secondary: $ded-black,
    $surface: $ded-light-gray,
    $info: $ded-gray,
    $success: $ded-green,
    $warn: $ded-yellow,
    $error: $ded-red
);

$ded-standard-button-theme: igx-button-theme(
    $raised-text-color: $ded-white,
    $raised-background: $ded-black,
    $raised-hover-text-color: $ded-black,
    $raised-hover-background: $ded-white-transparent,
    $raised-focus-text-color: $ded-white,
    $raised-focus-background: $ded-black,
);

$ded-dashboard-button-theme: igx-button-theme(
    $fab-text-color: $ded-white,
    $fab-background: $ded-black,
    $fab-hover-text-color: $ded-black,
    $fab-hover-background: $ded-white-transparent,
);

$ded-dropdown-theme: igx-drop-down-theme(
    $background-color: $ded-white-transparent,
    $header-text-color: $ded-black,
    $item-text-color: $ded-gray,

    $selected-item-background: $ded-black,
    $selected-item-text-color: $ded-white,
    $selected-hover-item-background: $ded-white,
    $selected-hover-item-text-color: $ded-black,
    $selected-focus-item-background: $ded-black,
    $selected-focus-item-text-color: $ded-white,

    $focused-item-background: $ded-black-transparent,
    $focused-item-text-color: $ded-white,

    $hover-item-background: $ded-black-transparent,
    $hover-item-text-color: $ded-white
);
