<div id="logo--sizer" [ngStyle]="{'width': size, 'height': size, 'font-size': size}">
     <div [ngClass]="logoClassName">
          <img class="head" src="/assets/DED_noeyes.png" />
          <div class="eye eye__left">
               <span class="eye--rotate">
                    <span class="rotate--offset">
                         D
                    </span>
               </span>
          </div>
          <div class="eye eye__right">
               <span class="eye--rotate">
                    <span class="rotate--offset">
                         D
                    </span>
               </span>
          </div>
     </div>
</div>
