<div class="view-workout-title-block">
  <h3>Workout Routine</h3>

<igx-card class="ded-card select-workout">
  <ul *ngFor="let exercise of exercises">
    <h4>{{ exercise.name }}</h4>
    <li><b>Exercise Type:</b> {{ exercise.exercise_type }}</li>
    <li><b>Description:</b> {{ exercise.description }}</li>
    <li><b>Notes:</b> {{ exercise.notes }}</li>
    <!--Not sure if this set information should be it's own component-->
    <li><b>Type:</b> {{ exercise.sets.type }}</li>
    <li>{{ exercise.sets.value }} {{ exercise.sets.units }}</li>
    <li><b>Reps:</b> {{ exercise.sets.reps }} </li>
  </ul>

  <div class="start-button-wrapper">
    <button
      igxButton="raised"
      igxRipple="black"
      >Start
    </button>
  </div>
</igx-card>
