// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

@import "../src/assets/ded-styles.scss";

@include igx-core();
@include igx-theme($default-palette);
@include igx-typography(
  $font-family: "Futura, Roboto, Arial, sans-serif"
);

/* GENERAL */
* {
  box-sizing:border-box;
}
html, body {
  width:100%;
  min-height:100vh;
  margin:0;
  padding:0;
  font-size:16px;
  line-height:1.4;
  font-family: "Futura, Roboto, Arial, sans-serif"
}
app-root {
  width:100%;
  flex:1 0 auto;
}
body {
  display:flex;
  flex-direction:column;
  align-items:center;

  padding:6rem 0; /* For header and footer */
}
a {
  color:#007bff;
}

hr {
  display:block;
  border:0;
  width:100%;
  margin:1.5em 0;
  height:1px;
  background:#eee;
  padding:0;
}
/* END GENERAL */

/* BUTTONS */
.button__black {
  @include igx-button($ded-standard-button-theme);
}
/* END BUTTONS */

/* CARDS */
.ded-card {
  font-size:1em;
  width:100%;
  padding:2em 1em;
  margin:1em 0;
  border:0;

  .igx-input-group__wrapper {
    background:#ffffff;
  }

  @media (min-width:768px) {
    & {
      padding:2em;
    }
  }
}

.exercise-card {
  font-size:1em;
  width:100%;
  margin:0 0 1em;
  border:0;

  &:last-child {
    margin-bottom:0;
  }
}

.card__black {
  background:#000000;
  color:#ffffff;
}
.card__cyan {
  background:$ded-cyan;
  color:#ffffff;
}
.card__red {
  background:$ded-red;
  color:#ffffff;
}
.card__yellow {
  background:$ded-yellow;
}
/* END CARDS */

/* TABLES */
.table-responsive {
  width:100%;
  overflow-x:auto;
}
.table-responsive .table {
  min-width:768px;
}
.table {
  width:100%;
  border-collapse: collapse;
  border-radius:4px;
  overflow:hidden;

  td,
  th {
    padding:0.5em 0.75em;
  }
  th {
    font-weight:600;
  }
  thead tr {
    background:rgba(0, 0, 0, 0.04);
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background:rgba(0, 0, 0, 0.02);
      }
      &:hover {
        background:rgba(0, 0, 0, 0.03);
      }
    }
  }
}
/* END TABLES */

/* EXERCISES */
.exercise-panel-header {
  border-bottom:1px solid #ddd;
}
.einfo--container {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;

  padding:0.5em 0;
  width: 100%;
  line-height:1;

  .igx-divider--vertical {
    align-self:stretch;
  }

  .einfo {
    display:block;
    line-height:1;
    margin:0 0 0.5em;
    text-align:center;
  }
  .einfo:last-child {
    margin-bottom:0;
  }
  .einfo__name {
       font-weight: 600;
  }
  .einfo__description {
       color: $ded-gray;
  }

  @media (min-width:768px) {
       & {
            flex-direction:row;
       }
       .einfo {
            padding:0 0.75em;
            line-height:1;
            margin:0;
            text-align:left;
       }
       .einfo__name {
            font-size:1.125em;
            flex: 1 1 20%;
       }
       .einfo__type {
            width:6em;
            flex:none;
            text-align:center;
       }
       .einfo__description {
            flex:2 1 20%;
       }
       .einfo__completed {
            width:8em;
            flex:none;
            text-align:right;
       }
  }
}
/* END EXERCISES */