@import "../../../assets/ded-styles.scss";


.create-exercise-form {
  display: flex;
  flex-direction:column;
  
  width: 100%;

  .button__black,
  .button__black button {
    width:100%;
  }

  @media (min-width:768px) {
    & {
      flex-direction:row;
      align-items: flex-end;
    }
    .button__black {
      flex:none;
      width:auto;
      margin:0 0.25em;
      margin-bottom:1em;
    }
  }
}

.exercise-description {
  flex:1;
  margin:0 0.25em 1em;
}

.create-exercise-group {
  
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:flex-end;

  app-dropdown,
  igx-input-group  {
    margin:0 0.25em 1em;
  }
  app-dropdown {
    flex:none;
    width:8em;
  }
  igx-input-group {
    flex:1;
  }

  @media (min-width:768px) {
    & {
      flex:2;
      width:auto;
    }
  }
}

.exercise-panel-body {
  padding:2em 1em;

  > h6 {
    font-weight: 600;
    text-transform: uppercase;

    border-bottom:1px solid #ddd;
    margin:0 0 0.75em;
    padding:0 0 0.75em;
  }

  @media (min-width:768px) {
    & {
      padding:2em;
    }
  }
}
