<form class="create-exercise-form">
  <igx-input-group class="exercise-name-input">
    <label igxLabel for="name">name</label>
    <input igxInput name="name" type="text" [(ngModel)]="exercise.name" />
  </igx-input-group>

  <app-dropdown class="exercise-type-dropdown" [itemLabel]="'type'" [items]="exerciseTypes" (selectedItemEmitter)="receiveSelectedType($event)"></app-dropdown>

  <igx-input-group class="exercise-description-input" type="box">
    <label igxLabel for="description">description</label>
    <input igxInput name="description" type="text" [(ngModel)]="exercise.description" />
  </igx-input-group>

  <div class="add-exercise-button-wrapper">
    <button #addExerciseButton igxButton="raised" igxRipple="black" [disabled]="!(exercise.name && exercise.type)" (click)="addExercise()">add exercise to workout</button>
  </div>
</form>

<div class="exercises-container">
  <igx-card class="exercise-card" *ngFor="let exercise of exercises; let i = index">
    <igx-expansion-panel class="exercise-panel" [collapsed]="false">
      <igx-expansion-panel-header class="exercise-panel-header">
        <div class="exercise-info">
          <h4 class="exercise-name">
            {{exercise.name}}
          </h4>
          <igx-divider [vertical]="true"></igx-divider>
          <div class="exercise-type">
            [{{exercise.type}}]
          </div>
          <igx-divider [vertical]="true"></igx-divider>
          <div class="exercise-description">
            {{exercise.description}}
          </div>
          <button igxButton="icon" igxRipple (click)="removeExercise(i)">
            <igx-icon>clear</igx-icon>
          </button>
        </div>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body class="exercise-panel-body">
        <h5>SETS</h5>
        <igx-divider></igx-divider>
        <app-createset [sets]="exercise.sets"></app-createset>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </igx-card>
</div>
