@import "../../../assets/ded-styles.scss";


.create-exercise-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;

  > .exercise-name-input {
    width: 15%;
    margin: 5px;
  }
  > .exercise-type-dropdown {
    width: 10%;
    margin: 5px;
  }
  > .exercise-description-input {
    width: 50%;
    margin: 5px;
  }
  > .add-exercise-button-wrapper {
    @include igx-button($ded-standard-button-theme);
    margin: 5px;
  }
}

.exercise-panel {
  border:1px solid #ddd;
  border-radius:4px;
}

.exercise-panel-header {
  border-bottom:1px solid #ddd;
  
}
.exercise-info {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  line-height:1;

  .igx-divider--vertical {
    align-self:stretch;
  }

  .exercise-name {
    font-weight: 600;
    margin: 0;
  }
  .exercise-type {
    margin: 0;
  }
  .exercise-description {
    margin: 0;
    color: $ded-gray;
  }
}

.exercise-panel-body {
  height: max-content;
  padding:2em;

  > h6 {
    font-weight: 600;
    text-transform: uppercase;

    border-bottom:1px solid #ddd;
    margin:0 0 0.75em;
    padding:0 0 0.75em;
  }
}
